@charset "utf-8";
/* CSS Document */


body {
	background-image: url("../img/aboutplants.png");/* background image*/
	font-size: 16px;
	font-family: Caveat, Calibri;
	color: darkgreen;   /* text color for the entire document */
	text-align: center;
	}



h1, h2, h3 { 
	text-align:center;     /* centers h1 and h2 and h3 content */
	background-color: rgba(245,255,250,0.80); /* creates mintcream background with 80% opacity */
	}

h1 { font-family: Caveat;
	font-size: 250%;
	text-align: center;
}


h2 { font-family: Caveat;
	font-size: 175%;
	text-align: top center;
	}

h3 { 
	font-family: Calibri;
	font-size: 130%;
	text-align: top center;
	}

h4 {
	font-family:Calibri;
	font-size:80%;
	text-align: left;
	margin: 10px;
	background-color: rgba(245,255,250,0.00); /* creates mintcream background with 80% opacity */
	}
a:hover {
	font-size:200%;
	background-color: rgba(244,243,234,0.50); 
	color: darkgreen; 
	}

a {
	padding: 15px;
    margin: 6px;
	font-size: 135%;
	background-color: rgba(245,255,250,0.80);  /* creates mintcream background with 80% opacity */
	color: #05744C; 
}

#wrapper {
	width:60%;
	height: 40%;
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color: rgba(245,255,250,1.00); /* creates mintcream background with 80% opacity */
	padding: 10px;
}

#wrapper2 {
	width: 60%;
	height:40%;
	margin: 0 auto;        /* centers wrapper */
	background-color: rgba(245,255,250,1.00);  /* creates mintcream background with 80% opacity */
	
}

#wrapper3{
	width: 60%;
	height: 40%;
	margin: 0 auto;
   background-color: rgba(245,255,250,1.00);  /* creates mintcream background with 60% opacity */
		}
#wrapper4{
	width:60%;
	height:50%;
	margin: 0 auto;
	background-color: rgba(245,255,250,1.00);  /* creates mintcream background with 60% opacity */
}

#wrapper5{
	width:60%;
	height: 40%;
	margin: 0 auto;
	background-color: rgba(245,255,250,1.00);  /* creates mintcream background with 60% opacity */
}

div{
	height: 40%;
	width: 0 auto;
	background-color: rgba(245,255,250,0.00);  /* creates mintcream background with 60% opacity */
	text-align: center;
	margin: 0 auto;
	}




p { 
	font-weight:800;
	font-size: 80%;
	text-align: left;	
	font-family: Candara;
	margin:0 auto;
	background-color:rgba(245,255,250,0.00);  /* creates mintcream background with 0% opacity */
}
	
p1 {
	font-weight: 800;
	font-size: 300%;
	text-align: left;
	text-indent: 500px;
	font-family: Caveat;
	}

ul1 {
	font-weight:700;
	font-size: 200%;
	text-align: left;
	text-indent: 200px;
	background-color:rgba(245,255,250,0.00);  /* creates mintcream background with 60% opacity */
}

ul{ 
	font-weight: 700;
	font-size: 150%;
	text-align: center;
	background: rgba(245,255,250,0.00);  /* creates mintcream background with 60% opacity */
	}


#watering2_image {
	border: #C8E6C9 5px solid;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 35px darkgreen;
	background-color: rgba(245,255,250,0.00);  /* creates mintcream background with 80% opacity */;
	text-align: left;
}

#watering2_image{
	display:none;/* hides content*/
	border:#C8E6C9 5px solid;
}

#planting_image {
	border: #C8E6C9 5px solid;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 35px darkgreen;
	background-color: #C8E6C9;
	text-align: left;
}

#planting_image{
	display:none;/* hides content*/
	border:#C8E6C9 5px solid;
}

#tending_image {
	border: #C8E6C9 5px solid;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 35px darkgreen;
	background-color: #C8E6C9;
	text-align: left;
}

#tending_image{
	display:none;/* hides content*/
	border:#C8E6C9 5px solid;
}

#planted_image{
	border: #C8E6C9 5px solid;
/*	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 20px darkgreen;*/
	background-color: #f4f2ef;
	text-align: left;
	}

img, .choices {
	cursor:pointer;
	}


#answer1 {
	text-align: left;
	flex-wrap:wrap; 
	}
#feedback{
	text-align: center;
	flex-wrap: wrap;
}
#feedback1{
	text-align: center;
	flex-wrap: wrap;
}
#answer2{
	text-align: left;
	flex-wrap: wrap;
}
#feedback2{
	text-align: center;
	flex-wrap:wrap;
}

#answer3{
	text-align: left;
	flex-wrap: wrap;
}

#feedback3{
	text-align: center;
	flex-wrap: wrap;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:center;
background-color:rgba(245,255,250,0.80);  /* creates mintcream background with 80% opacity */
	font-weight: bold;
	font-size: 150%;
	flex-wrap: wrap;
 }

.stepContent{ 
	background-color:rgba(245,255,250,0.00);  /* creates mintcream background with 60% opacity */
	padding:10px;
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}

.stepDescription {
	width:90%;
	padding:10px;
	line-height:180%;
	background-color:rgba(245,255,250,0.00);  /* creates mintcream background with 80% opacity */
	}


.stepImage img{
	border-radius: 10px;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 25px darkgreen;	
}

.stepImage {
	width:60%;	
	padding:40px;
	text-align: left;
	flex-wrap: wrap;
		}

.stepImage img {
	width:60%;
    height:auto;
}

