@charset "utf-8";
/* CSS Document */


body {
	background-image: url("../img/marine2.png");/* background image*/
	font-size: 16px;
	font-family: Caveat, Calibri;
	color: darkgreen;   /* text color for the entire document */
	text-align: center;
	}

#wrapper {
	width:80%;
	margin:0 auto;         /* centers wrapper */
 	text-align:center;
	background-color:#E1D4B8;  /* creates beige background with 80% opacity */
	padding: 10px;
}

h1, h2, h3 { 
	text-align:center;     /* centers h1 and h2 and h3 content */
}

h1 { font-family: Caveat;
	font-size: 300%;
}


h2 { font-family: Caveat;
	font-size: 175%;
	text-align: center;
}

h3 { 
	font-family: Calibri;
	font-size: 130%;
	text-align: top center;
}

span { 
	font-family:Calibri;
	font-size: 150%;
	text-align: clear right;
	color: #05744C;
	font-style: oblique;
}

a:hover {
	font-size:200%;
	background-color: #D5D2BA; 
	color: #E9E7DB; 
}

a {
	padding: 15px;
    margin: 6px;
	font-size: 135%;
	background-color: mintcream; 
	color: #05744C; 
}


#wrapper2 {
	width:80%;
	margin:0 auto;        /* centers wrapper */
	padding: 20px;
	background-color: mintcream;
}

p { 
	font-weight:800;
	font-size: 80%;
	text-align: left;	
	font-family: Candara;
}
	
p1 {
	font-weight: 800;
	font-size: 300%;
	text-align: left;
	text-indent: 500px;
	font-family: Caveat;
	}

ul1 {
	font-weight:700;
	font-size: 200%;
	text-align: left;
	text-indent: 200px;
}

ul{ 
	font-weight: 700;
	font-size: 150%;
	text-align: center;
	}


#watering2_image {
	border: #C8E6C9 5px solid;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 35px darkgreen;
	background-color: #C8E6C9;
	text-align: left;
}

#watering2_image{
	display:none;/* hides content*/
	border:#C8E6C9 5px solid;
}

#answer1 {
	text-align: left;
	}
#answer2{
	text-align: left;
}

#answer3{
	text-align: left;
}

#planting_image {
	border: #C8E6C9 5px solid;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 35px darkgreen;
	background-color: #C8E6C9;
	text-align: left;
}

#planting_image{
	display:none;/* hides content*/
	border:#C8E6C9 5px solid;
}

#tending_image {
	border: #C8E6C9 5px solid;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 35px darkgreen;
	background-color: #C8E6C9;
	text-align: left;
}

#tending_image{
	display:none;/* hides content*/
	border:#C8E6C9 5px solid;
}

#planted_image{
	border: #C8E6C9 5px solid;
/*	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 20px darkgreen;*/
	background-color: #f4f2ef;
	text-align: left;
	}

img, .choices {
	cursor:pointer;
	}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:30px;
	text-align:center;
	background-color:#C8E6C9;
	font-weight: bold;
	font-size: 150%;
 }

.stepContent{ 
	background-color: mintcream;
	padding:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}

.stepDescription {
	width:90%;
	padding:10px;
	line-height:180%;
	}

.stepImage img{
	border-radius: 10px;
	box-shadow: 0 4px 15px 0 darkgreen, 0 6px 25px darkgreen;	
}

.stepImage {
	width:80%;	
	padding:40px;
	text-align: left;
	}

.stepImage img {
	width:100%;
    height:auto;
}

